/*---------body DEBUT---------------------------- */
body{
  background-color: rgba(117, 115, 115, 0.685);
  margin: 20px;
  text-decoration:none;
}
a {
  text-decoration: none;
}
.styled {
  text-decoration:none;
  position: fixed;
  right: 10px;
  bottom: 10px;
  border: 0;
  border-radius: 5px;

}
.foter{
  position: fixed;
  right: 10px;
  bottom: 10px;
  border: 0;
  border-radius: 5px;
}
/*---------body FIN---------------------------- */